/*Default Styles*/
.table-row-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e8e8e8;
    color: #000000;
    text-align: center;
    vertical-align: middle;
}

.table-row-cell-center-align {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.table-row-cell-left-align {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
}

.table-row-cell-right-align {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: right;
}

.table-row-padding-only {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-header-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #262626;
    font-weight: bold;
    color: #fdfee8;
    font-size: 13px;
}

.table-header-padding-only {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-header-cell-center-align {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table-header-cell-left-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.table-header-cell-right-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
}

.table-total-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d9d9d9;
    font-weight: bold;
}

.table-total-cell-center-align {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.table-total-cell-left-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

.table-total-cell-right-align {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: right;
}

.table-total-padding-only {
    padding-top: 10px;
    padding-bottom: 10px;
}

.page-header {
    margin-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000078;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}

.mini-titles {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #cf843d;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.mini-titles-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    text-align: left;
}

.font-main {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright-footer {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:20px;
    font-size: 13px;
}

.pagination-items{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*margin-left: 300px;*/
    /*width: 50px;*/
}
/*Newly added*/
.searched-items {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: #000078;
}

.searched-items-values {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.table-header-cell {
    white-space: nowrap;
    padding: 10px 5px;
    border-bottom: solid 1px #FFFFFF;
    border-left: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
}

.table-row-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #FFFFFF;
    border-left: solid 2px #FFFFFF;
    border-right: solid 2px #FFFFFF;
}

.table-row-group {
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
}

.table-row-sum {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #bdc2ff;
    color: #000000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}