<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60">
    <Properties>
        <Property name="LOG_PATTERN">%d %p %c{1.} [%t] : %x %m%n</Property>
        <Property name="APP_NAME">/cmsdua/cms-dua-report</Property>
        <Property name="LOG_LOCATION">../logs</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="debug"/>
        </Console>
        <RollingFile name="DebugAppender" fileName="${LOG_LOCATION}/${APP_NAME}-debug.log"
                     filePattern="${LOG_LOCATION}/${APP_NAME}-debug.log-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="debug"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="InfoAppender" fileName="${LOG_LOCATION}/${APP_NAME}-info.log"
                     filePattern="${LOG_LOCATION}/${APP_NAME}-info.log-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="info"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="ErrorAppender" fileName="${LOG_LOCATION}/${APP_NAME}-error.log"
                     filePattern="${LOG_LOCATION}/${APP_NAME}-error.log-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <ThresholdFilter level="error"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.birt" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DebugAppender"/>
            <AppenderRef ref="InfoAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Logger>
        <Logger name="com.lippo" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DebugAppender"/>
            <AppenderRef ref="InfoAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Logger>
        <Logger name="com.ilt" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DebugAppender"/>
            <AppenderRef ref="InfoAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DebugAppender"/>
            <AppenderRef ref="InfoAppender"/>
            <AppenderRef ref="ErrorAppender"/>
        </Root>
    </Loggers>
</Configuration>